<!-- This is a simple html template that is using jinja to replace title
information and can replace whatever ytou want using variables that are 
passed to it. -->
<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Stock App Main Page</title>
    {% endif %}
</head>

<body>
    Just an example that a webpage can be made and given the data to be put in a table or whatever<br>
    <input type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" />
    <p id="showData"></p>
</body>
<script>
    var data = '{{ list_of_data|tojson }}';
    function CreateTableFromJSON() {
        data = data.slice(1, data.length - 1)
        var list_data = JSON.parse("[" + data + "]")
        // get keys of data to use as column names
        
        var col = [];
        for (keys in list_data[0]) {
            col.push(keys)
        }
    


        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE THE STYLE OF THE TABLE
        table.style.width = "100%"
        table.style.border = "1px solid black"
        table.style.borderCollapse = "collapse"

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.style.border = "1px solid black"
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < list_data.length; i++) {
            
            tr = table.insertRow(-1);

            if(i % 2 == 0){
                tr.style.backgroundColor = "#f2f2f2"
            }

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.style.border = "1px solid black"
                tabCell.style.borderCollapse = "collapse"
                tabCell.innerHTML = list_data[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
</script>


</html>